.chart {
	height: 400px;
	width: 500px;
	margin: 0px;
	display: none;
}
.chart-container{
	display: inline-block;
}
.chart.current{
	display: inline-block;
}
div.container{
	text-align: center;
	margin: 0px 100px 0px 100px;
}
button{
	margin: 0px 5px 0px 5px;
}

.button-success {
	background: rgb(28, 184, 65); /* this is a green */
	color: white;
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
	color: white;
}

.header{
	margin-top: 15px;
}