html, body, .body, #mount {
	height: 100%;
	margin: 0px;
}

#mount{
	width: 100%;
}

div.pure-menu{
	height: 100%;
	margin: 0px;
	background-color: rgb(218, 218, 218);
}

.chart {
	height: 400px;
	width: 500px;
	margin: 0px;
	display: none;
}
.chart-container{
	display: inline-block;
}
.chart.current{
	display: inline-block;
}
div.container{
	text-align: center;
	margin: 0px 100px 0px 100px;
}
button{
	margin: 0px 5px 0px 5px;
}

.button-success {
	background: rgb(28, 184, 65); /* this is a green */
	color: white;
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
	color: white;
}

.header{
	padding-top: 15px;
	font-size: 1.5em;
}